.footer {
  color: #444444; /* default-color */
  background-color: #ffffff; /* background-color */
  font-size: 14px;
  padding: 40px 0;
  text-align: center;
  position: relative;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05);
}

.footer p {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.footer_links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer_links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(68, 68, 68, 0.5); /* transparent 50% */
  font-size: 16px;
  color: rgba(68, 68, 68, 0.5);
  transition: all 0.3s ease;
}

.footer_links a:hover {
  color: #34b7a7; /* accent-color */
  border-color: #34b7a7;
}
